<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.0.0" targetFramework="net461" />
  <package id="FluentScheduler" version="5.3.0" targetFramework="net461" />
  <package id="jayrock" version="0.9.16530.1" targetFramework="net461" />
  <package id="jayrock-json" version="0.9.16530.1" targetFramework="net461" />
  <package id="System.Data.SQLite" version="1.0.108.0" targetFramework="net461" />
  <package id="System.Data.SQLite.Core" version="1.0.108.0" targetFramework="net461" />
  <package id="System.Data.SQLite.EF6" version="1.0.108.0" targetFramework="net461" />
  <package id="System.Data.SQLite.Linq" version="1.0.108.0" targetFramework="net461" />
  <package id="Unity" version="5.8.6" targetFramework="net461" />
</packages>